<!DOCTYPE html>
<html lang="en">

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="navbar-brand">Bank of India</h2>
    <form class="form-inline my-2 my-lg-0">
      <button id="register" class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="login()">Login</button>&nbsp;&nbsp;
      <button id="login" class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="register()">Register</button>
    </form>
  </nav>
</body>

</html>