<div class="container">
    <div class="card">
      <button class="btn btn-link" routerLink="/options/1">
        <div class="card-body">Deposit</div>
      </button>
    </div>
    
    <br>
    <div class="card">
      <button class="btn btn-link" routerLink="/options/2">
        <div class="card-body">Withdraw</div>
      </button>
    </div>
    <br>
    <div class="card">
      <button class="btn btn-link" (click)="showBalance()"> 
        <div class="card-body">Show Balance</div>
      </button>
    </div>
    <br>
    <div class="card">
      <button class="btn btn-link" routerLink="/options/3">
        <div class="card-body">FundTransfer</div>
      </button>
    </div>
    </div>